.header {
  background: lighten(#404040, 20%);
  height: 2rem;
  color: #ffffff;
  font: bold 1rem Microsoft Yahei;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sider {
  background: #404040;
  width: 2rem;
  height: 10rem;
}

.content {
  background: red;
  height: 10rem;
}
