@import "../index.less";

.carouselLayout {
  width: 100%;
  background: @base-color;
  .loading {
    display: flex;
    justify-content: center;
    height: 400px;
  }
  .carousel {
    height: 400px;
    a {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 0;
      img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        vertical-align: top;
      }
      li {
        width: 100%;
        height: 400px;
        line-height: 400px;
        color: #ffffff;
      }
    }
  }
}
