@import "../index.less";

.imageList {
  .image {
    width: 100%;
    overflow-x: hidden;
    padding: 0.1rem 0;
    img {
      width: 100%;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      border-radius: 0.1rem;
    }
    span {
      font: 0.25rem/0.5rem sans-serif;
      color: @text-color;
    }
  }
}
